# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

# Exclude: Debug and Release temporal folders
/"MKL02Z32xxx4_Project1"/Debug/
/"MKL02Z32xxx4_Project1"/Release/
/"MKL02Z32xxx4_Project1"/doc/